<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Feedback</title>
</head>

<body>
    <form action="/users/{{user.username}}/feedback/add" , method="post">


        {{form.hidden_tag()}}

        {%for field in form
        if field.widget.input_type != 'hidden' %}
        <p>

            {{field.label}}
            {{field}}

            {% for error in field.errors %}
            {{error}}
            {% endfor %}

            {% endfor %}

        </p>

        {% for message in get_flashed_messages() %}

        <p>{{message}}</p>

        {% endfor %}

        <button>Post</button>
    </form>
</body>

</html>