<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <form action="/login" method="post">

        {{form.hidden_tag()}}

        {%for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}

            {{error}}


            {% endfor %}

            {% endfor %}

            <button>login</button>
            <button><a href="/">cancel</a></button>

        </p>


        {% for message in get_flashed_messages() %}

        <p>{{message}}</p>
        {% endfor %}






    </form>

</body>

</html>